<div class="title inner-border">
  <h1><%= @booster_packs.first.booster_set.name %></h1>
</div>

<div class="container">
  <%= link_to "Open a pack", booster_set_booster_pack_path(id: "opened_pack"), class: "button" %>
</div>

<div class="container">
  <div class="booster-cards">
    <% @booster_packs.each do |booster| %>
      <div class="booster-card inner-border style-border">
        <div class="card-number">
          <p><%= booster.card_number %></p>
        </div>
        <div class="card-name">
          <p><%= booster.card.name %></p>
        </div>
        <div class="card-rarity">
          <p><%= booster.card_rarity %></p>
        </div>
        <%= link_to card_path(booster.card_id) do %>
            <img src="<%= booster.card.picture %>" alt="Card Image">
        <% end %>
      </div>
    <% end %>
  </div>
</div>
